.form-label mat-icon {
    margin-right: 8px; /* Space between icon and label text */
    font-size: 1.2rem; /* Medium icon size */
}

.btn-custom mat-icon {
    margin-right: 5px; /* Space between icon and button text */
}
/* .key-frames {
  animation: slideInFromLeft 2s ease-out ;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */

