<div class="health-insurance-container">
  <img src="/img/pexels-padrinan-806427.jpg" alt="Health Insurance" class="insurance-image" />
  
  <div class="text-content">
    <h1>Health Insurance</h1>
    <p>
      Health insurance is a financial protection plan that covers the cost of medical expenses for individuals and families.
      It includes coverage for hospital admissions, doctor consultations, medications, surgeries, and other healthcare services.
      Having health insurance means you can access quality treatment without worrying about the burden of sudden medical costs.
      It is available individually, for families, or through employers.
      Today, health insurance is an essential part of financial planning and well-being.
    </p>
  </div>
  <div>
   <button><a href="updatepolicy">By Insurance</a></button>
  </div>
</div>


